= form_for @inventory, html: { class: "form form-horizontal inventory" } do |f|
  .form-group
    = f.label :item_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.select("item_id", Item.all.collect{|i| [i.name, i.id]})
  .form-group
    = f.label :category_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.select("category_id", Category.all.collect{|c| [c.name, c.id]})
  .form-group
    = f.label :quantity, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :quantity, class: 'form-control', required: true
    = f.error_span(:quantity)
  .form-group
    = f.label :price, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :price, class: 'form-control', required: true
    = f.error_span(:price)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), inventories_path, :class => 'btn btn-default'
